body { padding-top: 70px; }

.bspace { padding-bottom: 20px; }

th { vertical-align: top !important; }
.legend { display: inline; }

#views .btn-default:hover {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}
